:root {
  --body_background: rgb(255, 255, 255);
  --body_color: rgb(0, 253, 194);;
  --header_color: rgb(0, 0, 0);
}

[data-theme = "dark"]{
  --body_background: #000000;
  --body_color: white;
  --header_color: rgb(255, 255, 255);
}

body {
    background-color: var(--body_background);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
